# Configuramos las variables con los datos que necesita el certificado
LE_EMAIL=admin@email.com
LE_DOMAIN=practica-wordpress1.zapto.org

#Variables para WordPress
WORDPRESS_DB_NAME=wp_db
WORDPRESS_DB_USER=wp_user
WORDPRESS_DB_PASSWORD=wp_pass
IP_CLIENTE_MYSQL=localhost
WORDPRESS_DB_HOST=localhost
WORDPRESS_DIRECTORY=/var/www/html